.header-nav {
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url("src/assets/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  gap: 60px;
}

.header-logo {
  width: 80px;
  margin: -10px 0;
}

.header-nav nav {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.header-nav__link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.header-nav__link:hover {
  background: rgba(255, 255, 255, 0.25);
}

.header-nav__link.active {
  background: rgba(255, 255, 255, 0.2);
  font-weight: 600;
}

.header-social_icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-social_icons a {
  transition: all 0.3s ease;
}

.header-social_icons a:hover {
  transform: translateY(-3px);
}