.header-nav {
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header-content-container {
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  padding: 20px 0;
  text-align: center;
  border: 1px 0 solid rgba(255, 255, 255, 0.2);
}

.header-set-language {
  display: flex;
  margin-left: 70px;
  gap: 10px;
  font-weight: 600;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

.header-set-language label {
  cursor: pointer;
}

.header-set-language input[type="radio"] {
  display: none;
}

.header-set-language input[type="radio"]:checked + label {
  text-decoration: underline;
}

.header-logo {
  width: 80px;

}

.header-nav nav {
  display: flex;
  gap: 15px;
  align-items: center;
}

.header-nav__link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 16px 50px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.header-nav__link:hover {
  background: rgba(255, 255, 255, 0.25);
}

.header-nav__link.active {
  background: rgba(255, 255, 255, 0.2);
  font-weight: 600;
}

.header-social_icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 80px;
}

.header-social_icons a {
  transition: all 0.3s ease;
}

.header-social_icons a:hover {
  transform: translateY(-3px);
}

@media (max-width: 1210px) {
  nav {
    flex-direction: column;
    width: 100%;
  }
  .header-nav__link {
    width: 100%;
  }
  .header-content-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0px;
  }
  .header-set-language {
    font-weight: 500;
    margin-left: 0px;
  }
  .header-logo {
    margin-top: 10px;
  }
  .header-social_icons {
    margin-top: 8px;
    margin-left: 0px
  }
}